// @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&family=PT+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: var(--font-normal-size);
    font-family: var(--body-font);
    font-weight: var(--font-regular);
    color: var(--color-black);
}


.container {
    max-width: 1920px;
    padding: 0 80px;
    margin: 0 auto;
}

.bg {
    &__gray {
        background-color: var(--bg-gray);
    }

    &__darck-gray {
        background-color: var(--bg-dark-gray);
    }

    &__black {
        background-color: var(--color-black);
        color: var(--color-white);
    }
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

input {
    border: none;
    background: transparent;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

h1,
h2,
h3,
p {
    font-weight: var(--font-regular);
}

.title {
    font-size: var(--font-h2-size);
    text-transform: uppercase;
    font-weight: var(--font-bold);

    &__white {
        font-size: var(--font-h2-size);
    }
}

.subtitle {
    font-size: var(--font-big-size);

    &__white {
        font-size: var(--font-h2-size);
    }
}


body.modal-open {
    height: 100vh;
    overflow-y: hidden;
}