:root {
    
    //Color 
    --color-black: #1F1F22;
    --color-white: #FFFFFF;
    --bg-gray: #F3F3F5;
    --bg-dark-gray: #E1E1E1;
    --color-red: #FA1100;
    

    // Font and typography
    --body-font: 'Mulish', sans-serif;
    --font-h1-size: 7.5rem; //120
    --font-h2-size: 5.875rem;//94
    --font-big-size: 3rem; //48
    --font-normal-size: 1.25rem; //20

    // Font weight
    --font-regular: 400;
    --fonst-semi-bold: 600;
    --font-bold: 700;

    // z-index
    --z-tooltip: 10;
    --z-fixed: 100;
}













